body{
    width: 1024px;
    height: 768px;
    background-image:url(Fundo.png);
    background-color: powderblue;
    background-size:cover;
    align-content: end;
    justify-content: center;
    
}
.main{
    height: max-content;
    display:flex;
    width:fit-content;
    align-content: flex-end;
    justify-content: center;
}
footer{
    display:flex;
    background-color: blue;
    height: 70px;
    margin-top:20px;
    align-items: flex-end;
    justify-content: end;
}

h1{
    margin:30px;
    font-family: Pixelify Sans;
    color: aliceblue;    
}

h2{
    margin:30px;
    font-family: Pixelify Sans;
    color: aliceblue; 
}
.pasta{
    display:flex;
    align-items:center;
    margin:20px;
    background-color: blue;
    width: 250px;
    height: 375px;
    border-radius: 5px;
    justify-content: center;
}

