body{
    background-image:url(Fundo.png);
    background-size:auto;
    background-color: powderblue;
    align-items: center;
}

footer{
    background-color: blue;
    width: max;
    height: 150px;
}

h1{
    font-family: Pixelfy Sans;
    color: aliceblue;    
}
.pasta{
    align-items: center;
    background-color: blue;
    width: 500px;
    height: 375px;
    border-radius: 5px;
}
